.container {
	width: 900px;
	margin: 0 auto;
	text-align: center;
	border-collapse: collapse;
	box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 50%);
}

th,
td {
	width: 300px;
	border: 0.5px solid #d3d6d8;
	height: 50px;
}

th:first-child {
	border-top-left-radius: 5px;
}

th:last-child {
	border-top-right-radius: 5px;
}

thead {
	background-color: #00bcd5;
	color: white;
}

.item:nth-child(2n + 1) {
	background-color: #fff;
}
.item:nth-child(2n + 2) {
	background-color: #ecf1f3;
}

.itemType {
	display: flex;
	justify-content: left;
	margin: 0 auto;
	width: 20%;
}

.itemAmount {
	display: flex;
	justify-content: right;
	margin: 0 auto;
	width: 20%;
}
